Repository ksulaoja/zoom-analyzer, pull requests merged in 2023-10, with the labels that each got.

#8 Scheduling recordings via api
  backend/src/main/java/ee/taltech/zoomalyzer/controllers/RecordingController.java
  backend/src/main/java/ee/taltech/zoomalyzer/entities/Recording.java
  scheduler/.gitignore
  scheduler/.mvn/wrapper/maven-wrapper.jar
  scheduler/.mvn/wrapper/maven-wrapper.properties
  scheduler/README.md
  scheduler/mvnw
  scheduler/mvnw.cmd
  scheduler/pom.xml
  scheduler/src/main/java/ee/taltech/zoomalyzer/ZoomalyzerApplication.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/conf/Configuration.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/controllers/RecordingController.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/controllers/dtos/RecordingDto.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/dal/RecordingDal.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/entities/Recording.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/scheduler/RecordingSchedule.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/services/RecordingService.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/util/TimeUtils.java
  scheduler/src/main/resources/application.properties
  scheduler/src/main/resources/testfiles/testfile.mp4
  scheduler/src/test/java/ee/taltech/zoomalyzer/ZoomalyzerApplicationTests.java
Labels: scheduler

#9 6 Implement recording solution
  .gitignore
  .idea/.gitignore
  recorder/Dockerfile
  recorder/LICENSE
  recorder/README.md
  recorder/img/authorized_attendees_only.png
  recorder/img/chat_close.png
  recorder/img/connecting.png
  recorder/img/enter_fullscreen.png
  recorder/img/exit.png
  recorder/img/exit_fullscreen.png
  recorder/img/fullscreen.png
  recorder/img/got_it.png
  recorder/img/hide_video_panel.png
  recorder/img/host_is_sharing_poll_results.png
  recorder/img/invalid_meeting_id.png
  recorder/img/join.png
  recorder/img/join_audio.png
  recorder/img/join_meeting.png
  recorder/img/join_with_computer_audio.png
  recorder/img/leave.png
  recorder/img/meeting_chat.png
  recorder/img/meeting_chat_popup.png
  recorder/img/meeting_ended_by_host_1.png
  recorder/img/meeting_ended_by_host_2.png
  recorder/img/meeting_is_being_recorded.png
  recorder/img/minimize.png
  recorder/img/mute.png
  recorder/img/ok.png
  recorder/img/show_video_panel.png
  recorder/img/side_by_side_separator.png
  recorder/img/side_by_side_speaker.png
  recorder/img/speaker_view.png
  recorder/img/unmute.png
  recorder/img/view.png
  recorder/img/view_options.png
  recorder/img/wait_for_host.png
  recorder/img/waiting_room.png
  recorder/img/zoom_exit_btn.png
  recorder/img/zoom_window_title.png
  recorder/zoomrec.py
  scheduler/README.md
  scheduler/pom.xml
  scheduler/src/main/java/ee/taltech/zoomalyzer/conf/Configuration.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/entities/Recording.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/logging/general/LogLevel.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/logging/general/LogLevelDal.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/logging/general/LogLevelService.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/logging/recorder/RecorderLogController.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/logging/recorder/RecorderLogDal.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/logging/recorder/RecorderLogService.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/logging/recorder/entities/RecorderLog.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/logging/recorder/entities/RecorderLogDto.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/scheduler/RecordingSchedule.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/services/RecordingService.java
Labels: scheduler, recorder

#16 frontend post zoom bot data to back.
  project/front/src/App.js
  project/front/src/components/LoginForm.tsx
  project/front/src/components/ZoomForm.tsx
  project/front/src/components/styles.css
  scheduler/src/main/java/ee/taltech/zoomalyzer/controllers/RecordingController.java
Labels: Frontend

#17 Show data for one recording
  package-lock.json
  package.json
  project/front/src/App.js
  project/front/src/components/Layout.tsx
  project/front/src/components/layout.css
  project/front/src/components/styles.css
  project/front/src/pages/Recording.tsx
  project/front/src/pages/recording.css
  scheduler/src/main/java/ee/taltech/zoomalyzer/conf/Configuration.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/controllers/RecordingController.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/logging/recorder/RecorderLogController.java
  scheduler/src/main/resources/application.properties
Labels: Frontend

#21 20 authorization, bugs
  recorder/zoomrec.py
  scheduler/src/main/java/ee/taltech/zoomalyzer/conf/Configuration.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/controllers/RecordingController.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/controllers/dtos/RecordingDto.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/entities/Recording.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/logging/recorder/RecorderLogController.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/scheduler/RecordingScheduler.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/services/RecordingService.java
  scheduler/src/main/java/ee/taltech/zoomalyzer/util/Utils.java
Labels: recorder, analyzer
